[submodule "variational-item-response-theory-public"]
	path = variational-item-response-theory-public
	url = git@github.com:mhw32/variational-item-response-theory-public.git
[submodule "mathematical-abstractions"]
	path = mathematical-abstractions
	url = git@github.com:uranium11010/lemma.git
