/__pycache__
/curly-fn-lib
/variational-item-response-theory-public
.DS_Store
*.so
*~
*#
*.lock
*.pt
TAGS
checkpoints/
configs/
models/
output/
*.txt
*.org
*.pkl
wandb/
.ipynb_checkpoints/
*.tar.gz

.emacs.desktop

commoncore/target
lightning_logs/
*/node_modules


*package-lock.json