/__pycache__
/curly-fn-lib
/variational-item-response-theory-public
.DS_Store
*.so
*~
.*.un~
.*.swp
*#
*.lock
*.pt
TAGS
checkpoints/
# configs/
models/
output/
output_ec2/
eval_output/
*.txt
*.json
!configs/*
configs/*~
configs/.*.un~
configs/.*.swp
*.org
*.pkl
wandb/
.ipynb_checkpoints/
*.tar.gz

.emacs.desktop

commoncore/target
lightning_logs/
