/__pycache__
/curly-fn-lib
/mathematical-abstractions
/variational-item-response-theory-public
.DS_Store
*.so
*~
*#
*.lock
*.pt
TAGS
checkpoints/
configs/
models/
output/
output_ec2/
*.txt
*.json
*.org
*.pkl
wandb/
.ipynb_checkpoints/
*.tar.gz

.emacs.desktop

commoncore/target
lightning_logs/
